.DS_Store
.gitignore
Capfone/.DS_Store
Capfone/ffmpeg.txt
Capfone/ffmpeg-audio.txt
Capfone/data/toMarkov
Capfone/data/fromMarkov
Capfone/data/frameData
Capfone/data/settings.json
Granulator/settings.json
CapstoneMarkov/settings.json
