.DS_Store
Mycelium/.DS_Store
Mycelium/ffmpeg.txt
Mycelium/ffmpeg-audio.txt
Mycelium/data/toMarkov
Mycelium/data/fromMarkov
Mycelium/data/frameData
Mycelium/data/settings.json
Granulator/settings.json
MyceliumMarkov/settings.json
*wav
